/* @font-face Omnes */
@font-face {
    font-family: 'omnes_att_lightregular';
    src: url('../fonts/omnesatt-light-webfont.eot');
    src: url('../fonts/omnesatt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnesatt-light-webfont.woff') format('woff'),
         url('../fonts/omnesatt-light-webfont.ttf') format('truetype'),
         url('../fonts/omnesatt-light-webfont.svg#omnes_att_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'omnes_att_lightitalic';
    src: url('../fonts/omnesatt-lightitalic-webfont.eot');
    src: url('../fonts/omnesatt-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnesatt-lightitalic-webfont.woff') format('woff'),
         url('../fonts/omnesatt-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/omnesatt-lightitalic-webfont.svg#omnes_att_lightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'omnes_att_mediumregular';
    src: url('../fonts/omnesatt-medium-webfont.eot');
    src: url('../fonts/omnesatt-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnesatt-medium-webfont.woff') format('woff'),
         url('../fonts/omnesatt-medium-webfont.ttf') format('truetype'),
         url('../fonts/omnesatt-medium-webfont.svg#omnes_att_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'omnes_att_mediumitalic';
    src: url('../fonts/omnesatt-mediumitalic-webfont.eot');
    src: url('../fonts/omnesatt-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnesatt-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/omnesatt-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/omnesatt-mediumitalic-webfont.svg#omnes_att_mediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'omnes_att_regularregular';
    src: url('../fonts/omnesatt-regular-webfont.eot');
    src: url('../fonts/omnesatt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnesatt-regular-webfont.woff') format('woff'),
         url('../fonts/omnesatt-regular-webfont.ttf') format('truetype'),
         url('../fonts/omnesatt-regular-webfont.svg#omnes_att_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'omnes_att_regularitalic';
    src: url('../fonts/omnesatt-regularitalic-webfont.eot');
    src: url('../fonts/omnesatt-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnesatt-regularitalic-webfont.woff') format('woff'),
         url('../fonts/omnesatt-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/omnesatt-regularitalic-webfont.svg#omnes_att_regularitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
//font-face - Buttons
@font-face {
    font-family: 'clearviewattregular';
    src: url('../fonts/clvatt-book-webfont.eot');
    src: url('../fonts/clvatt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/clvatt-book-webfont.woff') format('woff'),
         url('../fonts/clvatt-book-webfont.ttf') format('truetype'),
         url('../fonts/clvatt-book-webfont.svg#clearviewattregular') format('svg');
    font-weight: normal;
    font-style: normal;

}