<!-- international programming modal -->
<h1>International Programming</h1>
<form method="post" name="insternational-programming">
	<div class="col left">
		<h5>Select International Package </h5>
		<div class="selectbox">
			<select>
				<option>South Asian</option>
				<option>South Asian 2</option>
			</select>
			<span class="select-text">South Asian</span><span class="select-arrow"></span>
		</div>
		<div class="custom-checkbox">
			<input id="p1" type="checkbox" value="north asian package">
			<span class="box"><span class="tick"></span></span>
		</div>
		<label for="p1">north asian package <span class="price">$35.00</span></label>
		<div class="custom-checkbox">
			<input id="p2" type="checkbox" value="south asian package">
			<span class="box"><span class="tick"></span></span>
		</div>
		<label for="p2">south asian package <span class="price">$35.00</span></label>
	</div>
	<div class="col right">
		<h5>Selected Channels</h5>
		<div id="list-package">
			None Selected
		</div>
		<p class="package-total">Added to Package Total: <span id="price-total">$35/mo</span></p>
		<div class="buttons">
	<input type="reset" class="button gray" value="Clear" />
	<input type="submit" class="button orange" value="Submit" />
</div>
	</div>
</form>