<!-- get list customer quotes modal -->
<h1>Cutomer Follow-up</h1>
<form method="post" name="customer-follow-up-autorizes">
<div class="col left">
	<h5>ATTUID</h5>
	<label for="attid" class="hidden"></label>
	<input type="text" id="attid" name="attid" value="" placeholder="enter code" class="required">
	<h5>ATTUID</h5>
	<label for="re-attid" class="hidden"></label>
	<input type="text" id="reAttid" name="re-attid" value="" placeholder="re-enter code" class="required">
	<h5>Customer Contact Name</h5>
	<label for="customer_name" class="hidden"></label>
	<input type="text" id="customer_name" name="customer_name" value="" placeholder="enter first and last name" class="required">
	<h5>Customer Contact Number</h5>
	<label for="customer_number" class="hidden"></label>
	<input type="text" id="customer_number" name="customer_number" value="" placeholder="enter phone number" class="required">
</div>
<div class="col right">
	<h5>Best Time of Day to Call</h5>
	<div class="selectbox">
		<select>
			<option value="">select time to call</option>
			<option id="morning" value="morning">morning</option>
		</select>
		<span class="select-text">select time to call</span><span class="select-arrow"></span>
	</div>
	<h5>Notes</h5>
	<label for="customer_notes" class="hidden"></label>
	<textarea id="cutomer_notes" placeholder="enter notes" class="required"></textarea>
</div>
<div class="clearfix">
	<h5>Customer Consent Agreement</h5>
	<p>You have authorized AT&amp;T to call you at your number [] to discuss your U-verse Service Quote and U-verse service and you temporarily 
waive any Do Not Call/Do Not Contact restrictions for 5 days. Is this right? [If "Yes"] May I check the box on my screen on your behalf 
indicating you have authorized AT&amp;T to call your number?</p>
	<div class="custom-checkbox">
		<input id="read_ok" type="checkbox" value="yes">
		<span class="box"><span class="tick"></span></span>
	</div>
	<label for="read_ok">I have read the Customer Authorization to obtain consent on customer’s behalf.  </label>
</div>
<div class="buttons">
	<input type="reset" class="button gray" value="Clear" />
	<input id="submit" type="submit" class="button orange" value="Submit" disabled/>
</div>
</form>