{#VideoBasic}
<a class="bundle {componentCode}" href="#/u-verse/{componentCode}">
	<figure></figure>
	<h2>{displayName}</h2>
	<div class="once">
		<h4>One Time</h4>
		<p>${totalOneTimeCharges}</p>
	</div>
	<div class="monthly">
		<h4>Monthly</h4>
		<p>${total}</p>
	</div>
</a>
{/VideoBasic}

{#HSIA}
<a class="bundle {componentCode}" href="#/u-verse/{componentCode}">
	<figure></figure>
	<h2>{displayName}</h2>
	<div class="once">
		<h4>One Time</h4>
		<p>${totalOneTimeCharges}</p>
	</div>
	<div class="monthly">
		<h4>Monthly</h4>
		<p>${total}</p>
	</div>
</a>
{/HSIA}

{#CVOIP}
<a class="bundle {componentCode}" href="#/u-verse/{componentCode}">
	<figure></figure>
	<h2>{displayName}</h2>
	<div class="once">
		<h4>One Time</h4>
		<p>${totalOneTimeCharges}</p>
	</div>
	<div class="monthly">
		<h4>Monthly</h4>
		<p>${total}</p>
	</div>
</a>
{/CVOIP}

{#CHN}
<a class="bundle {componentCode}" href="#/u-verse/{componentCode}">
	<figure></figure>
	<h2>{displayName}</h2>
	<div class="once">
		<h4>One Time</h4>
		<p>${totalOneTimeCharges}</p>
	</div>
	<div class="monthly">
		<h4>Monthly</h4>
		<p>${total}</p>
	</div>
</a>
{/CHN}

<div class="total" href="#/u-verse/total">
	<h1>Bundle Total</h1>
	<div class="once">
		<h4>One Time</h4>
		<p>${totalOneTimeCharges}</p>
	</div>
	<div class="monthly">
		<h4>Monthly</h4>
		<p>${total}</p>
	</div>
</div>

<a class="checkout" href="#/u-verse/checkout">View Package details</a>
